//colors
$color_BlackGray2: rgb(27, 29, 34);
$color_BlackGray: rgb(34, 36, 43);
$color_BlackGray3: #101418;
$color_BlackGray4: #1e252c;
$color_Aliceblue: aliceblue;
$color_BlueSmooth: rgb(133, 132, 216);
$color_GreenSmooth: rgb(132, 216, 139);
$color_GreenDarkerSmooth: rgb(25, 119, 30);
$color_PurpleSmooth: #1e1e2c;
$color_PurpleDarkerSmooth: #191924;
$color_BlueDarkerSmooth: #191c1f;
$color_BlackGrayBlueSmooth: #05070857;
$color_BlackGrayBlueSmoothExtra: #04060767;


//fonts
$fontFamily_Oswald: Oswald-Medium;
$fontFamily_Verdana: Verdana, sans-serif;


//borders
$border_Msg: 1.5px solid rgb(10, 9, 9);